VITE_FIREBASE_API_KEY=AIzaSyDkX1otIV2_jKn7FpvARV-ErJAJP9ikkQ4
VITE_FIREBASE_AUTH_DOMAIN=unlockr-ap28-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=unlockr-ap28-2026
VITE_FIREBASE_STORAGE_BUCKET=unlockr-ap28-2026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=363961432336
VITE_FIREBASE_APP_ID=1:363961432336:web:843736186c76fb82fe4d95
