rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /resources/{creatorId}/{resourceId}/{fileName} {
      allow read: if true;
      allow write: if request.resource.size <= 25 * 1024 * 1024
                   && request.resource.contentType == 'application/pdf';
      allow delete: if request.auth != null;
    }

    match /covers/{creatorId}/{resourceId}/{fileName} {
      allow read: if true;
      allow write: if request.resource.size <= 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null;
    }

    match /avatars/{creatorId}/{fileName} {
      allow read: if true;
      allow write: if request.resource.size <= 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null;
    }

    match /avatars/{creatorId}/{id}/{fileName} {
      allow read: if true;
      allow write: if request.resource.size <= 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null;
    }

    match /banners/{creatorId}/{fileName} {
      allow read: if true;
      allow write: if request.resource.size <= 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null;
    }

    match /banners/{creatorId}/{id}/{fileName} {
      allow read: if true;
      allow write: if request.resource.size <= 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null;
    }
  }
}
